MIMO_API_KEY=replace_me
MINIMAX_API_KEY=replace_me
PGHOST=localhost
PGPORT=5432
PGDATABASE=hack_org
PGUSER=hack_org
PGPASSWORD=replace_me
PGSSLMODE=prefer
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_SECURE=true
NOTIFY_WEBHOOK_URL=
WECOM_BOT_WEBHOOK_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_PROXY=http://127.0.0.1:7890
TELEGRAM_CURL_WRAPPER=
OTX_API_KEY=
VIRUSTOTAL_API_KEY=
MALPEDIA_API_KEY=
OPENCTI_API_KEY=
MISP_API_KEY=
X_BEARER_TOKEN=
FTP_HOST=127.0.0.1
FTP_PORT=21
FTP_USER=replace_me
FTP_PASSWORD=replace_me
FTP_DIR=/spider/hack_org
FTP_TLS=false
SFTP_HOST=127.0.0.1
SFTP_PORT=22
SFTP_USER=replace_me
SFTP_PASSWORD=replace_me
SFTP_DIR=/spider/hack_org
